  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
     <div class="span12">
      <div class="logoblock">
        <a class="logo" href="#">Swappy</a>
        <a class="hamburger" href=""><img src="{{ app.request.baseUrl }}/img/hamburger.gif"></a>
      </div>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="#">
              Diensten
              <span class="navbar-unread">1</span>
            </a>
            <ul>
              <li><a href="#">Overzicht</a></li>
              <li>
                <a href="#">Kaartje</a>
              </li>
            </ul> <!-- /Sub menu -->
          </li>
          {% if app.session.get('user') %}
            <li><a class="pull-right" href="{{ path('logout')}}">Logout</a></li>
          {% else %}
            <li><a class="pull-right" href="{{ path('login')}}">Login</a></li>
            <li><a class="pull-right" href="{{ path('register')}}">Register</a></li>
          {% endif %}
          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>