<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>Swappy</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- Loading Bootstrap -->
	    <link href="{{ app.request.baseUrl }}/css/bootstrap.css" rel="stylesheet">
	    <link href="{{ app.request.baseUrl }}/css/bootstrap-responsive.css" rel="stylesheet">

	    <!-- Loading Flat UI -->
	    <link href="{{ app.request.baseUrl }}/flatui/css/flat-ui.css" rel="stylesheet">

	    <!-- Style css -->
	    <link href="{{ app.request.baseUrl }}/css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			{% include 'header.twig' %}
		</header>
		<div class="container">
			<div class="span12">
				{% block content %}
    			{% endblock %}
    		</div>
		</div>
	</body>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	{% block jqueryblock %}
    {% endblock %}

</html>
