
.login{
	color: #34495e;
}

.login input{
	width: 96%;
}

input[type='checkbox']{
	float: left;
}



@media (max-width: 979px){
	.nav-collapse, .nav-collapse.collapse {
	height: auto;
	overflow: visible;
}


