{% extends "layout.twig" %}

{% block content %}
	<style type="text/css">
		#map_canvas {
  			display: block;
   			width: 100%;
   			height: 650px;
		}
    </style>
	
	<h2>Zoek een opdracht in de buurt</h2>
	<div id="map_canvas"></div>


{% endblock %}


{% block jqueryblock %}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjJNWOip3T_HFpH5QUdhBZbfT_uiyiYQ8&sensor=false"
  type="text/javascript"></script>

	<script src="{{ app.request.baseUrl }}/js/services_map.js"></script>
{% endblock %}